---
layout: default
title: Lumbr
---


<div class="lmbr-hero">
	<div class="row">
		<img src="assets/lumbr-logo.svg" alt="">
		<p>A Front-End Pattern Library & Design Ecosystem</p>
		<a href="#" class="btn">Get Started</a>
	</div>
</div>

<div class="lmbr-intro">
	<div class="row">
		<h1>High level intro section</h1>
		<h4>
			Lumber gives you customizable code & designs that are all interconnected. Each component is a fully integrated front-end code snippet and Sketch symbol. 

			Lumbr gives you customizable components that are all interconnected. 

			You + Lumbr = Jedi Product Designer
		</h4>
	</div>
</div>

<div class="lumbrExamples row">
	<div class="lumbrExamples-core">
		{% for post in site.posts limit:1 %}
  			{% if post.categories contains 'core' %}
    			<div class="item">
     				<h2>
     				<a href="{{ post.url }}">{{ post.title }}</a>
     				</h2>
     				<p>{{ post.excerpt }}</p>  
    				{{ post.date | date: "%B %-d, %Y" }}
    			</div>
    			<a href="{{ site.url }}/components/footers.html" class="btn">View all in {{post.categories}} ({{ site.categories.footers | size }})</a>

    			<a href="{{ post.url }}" class="btn">View this component</a>
  			{% endif %}
		{% endfor %}
	</div>
</div>


<!-- <div class="lumbrExamples row">
	<div class="lumbrExamples-core">
		{% for post in site.posts limit:1 %}
  			{% if post.categories contains 'core' %}
    			<div class="item">
     				<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
     				<p>{{ post.excerpt }}</p>  
    				{{ post.date | date: "%B %-d, %Y" }}
    			</div>
    			<a href="{{ site.url }}/components/footers.html" class="btn">View all in {{post.categories}} ({{ site.categories.footers | size }})</a>

    			<a href="{{ post.url }}" class="btn">View this component</a>
  			{% endif %}
		{% endfor %}
	</div>
</div> -->

<div class="lmbr-getstarted">
	<div class="row">
		<h1>Getting Started</h1>
		
	</div>
</div>