---
layout: default
title: Lumbr
---

<div class="row"> 
  <h1>playground</h1>

<div class="blogEntry">
  <h2>Pull all blog posts</h2>

    {% for post in site.posts %}
    
    <a class="blogEntry-title" href="{{ post.url }}">{{ post.title }}</a>
    
    <div class="blogEntry-excerpt">{{post.excerpt}}</div>   

    {% endfor %}
</div>

<h2>pull posts from specific category</h2>


{% for post in site.posts %}
  {% if post.categories contains 'headers' %}
    <div class="item">
      <h3>{{ post.title }}</h3>
      <p>{{post.excerpt}}</p>  
    </div>
  {% endif %}
{% endfor %}

</div>