    <nav class="offCanvas" id="offCanvas">

      <ul>
        <li><a href="#">Item 1</a></li>
        <li><a href="#">Item 2</a></li>
        <li><a href="#">Item 3</a></li>
        <li><a href="#">Item 4</a></li>
        <li><a href="#">Item 5</a></li>
      </ul>

    </nav>

    <div class="offCanvas-bar">

      <a id="hamburger-icon" href="#" title="Menu">

  <span class="line line-1"></span>
  <span class="line line-2"></span>
  <span class="line line-3"></span>
   <span>menu</span>
</a>
