<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Lumbr | {{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- Custom CSS -->

        <link rel="stylesheet" href="../css/main.css">
        <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    </head>

    <body>


<nav class="lmbr-nav">
<div class="row">
       <nav class="offCanvas" id="offCanvas">

      <ul>
        <li><a href="{{ site.url}}/index.html">Home</a></li>
        <li><a href="{{ site.url}}/get-started.html">Get Started</a></li>
        <li><a href="{{ site.url}}/documentation.html">Documentation</a></li>
        <li><a href="{{ site.url}}/components.html">Components</a></li>
        <li><a href="{{ site.url}}/community.html">Community</a></li>
        <li><a href="{{ site.url}}/playground.html">Playground</a></li>


      </ul>

    </nav>

    <div class="offCanvas-bar">

      <a id="hamburger-icon" href="#" title="Menu">

  <span class="line line-1"></span>
  <span class="line line-2"></span>
  <span class="line line-3"></span>
   <span>menu</span>
</a>

 </div> 
</nav>