 <!-- Grid -->
            <h1 class="exampleSection" id="grid">Grid</h1>
            <code>.large-[#] .medium-[#] .small-[#] .column</code>
            <div class="grid">
                <h5 class="sectionHeader">Basic Grid</h5>
                <p>The grid is really easy to use. for instance if you put .large-4.columns on a div it will span 4/12ths of it's parent container on "Large" screens. When resized below "large" it will break down to 100% width. This can be any combination of numbers as long as it ads up to the number of your total columns.</p>
                <div class="row">
                    <div class="large-4 columns">
                        <span class="">large-4</span>
                    </div>
                    <div class="large-4 columns">
                        <span class="">large-4</span>
                    </div>
                    <div class="large-4 columns">
                        <span class="">large-4</span>
                    </div>
                </div>
                <h5 class="sectionHeader">Targeting Screen Sizes</h5>
                <p>Often times you need medium and small screens to display multiple columns. You can easily target those screens using the .small or .medium column class. By default, these sizes cascade. so if you put small-4 on a div. It will render as 4/12ths width on small, medium and large.</p>
                <div class="row">
                    <div class="medium-4 columns">
                        <span class="">medium-4</span>
                    </div>
                    <div class="medium-4 columns">
                        <span class="">medium-4</span>
                    </div>
                    <div class="medium-4 columns">
                        <span class="">medium-4</span>
                    </div>
                    <div class="small-4 columns">
                        <span class="">Small-4</span>
                    </div>
                    <div class="small-4 columns">
                        <span class="">Small-4</span>
                    </div>
                    <div class="small-4 columns">
                        <span class="">Small-4</span>
                    </div>
                </div>
                <h5 class="sectionHeader">Combining Different Column Widths</h5>
                <p>You guessed it, you can combine "large", "medium" and "small" column widths to target each viewport specifically.</p>
                <div class="grid">
                    <div class="row">
                        <div class="large-2 medium-6 small-4 column">
                            <span class="show-for-large">large-2</span>
                            <span class="show-for-medium">medium-6</span>
                            <span class="show-for-small">small-4</span>
                        </div>
                        <div class="large-2 medium-6 small-4 column">
                            <span class="show-for-large">large-2</span>
                            <span class="show-for-medium">medium-6</span>
                            <span class="show-for-small">small-4</span>
                        </div>
                        <div class="large-2 medium-6 small-4 column">
                            <span class="show-for-large">large-2</span>
                            <span class="show-for-medium">medium-6</span>
                            <span class="show-for-small">small-4</span>
                        </div>
                        <div class="large-2 medium-6 small-4 column">
                            <span class="show-for-large">large-2</span>
                            <span class="show-for-medium">medium-6</span>
                            <span class="show-for-small">small-4</span>
                        </div>
                        <div class="large-2 medium-6 small-4 column">
                            <span class="show-for-large">large-2</span>
                            <span class="show-for-medium">medium-6</span>
                            <span class="show-for-small">small-4</span>
                        </div>
                        <div class="large-2 medium-6 small-4 column">
                            <span class="show-for-large">large-2</span>
                            <span class="show-for-medium">medium-6</span>
                            <span class="show-for-small">small-4</span>
                        </div>
                        <div class="large-3 column">
                            <span class="show-for-large">large-3</span>
                            <span class="show-for-medium">medium-12</span>
                            <span class="show-for-small">small-12</span>
                        </div>
                        <div class="large-3 column">
                            <span class="show-for-large">large-3</span>
                            <span class="show-for-medium">medium-12</span>
                            <span class="show-for-small">small-12</span>
                        </div>
                        <div class="large-3 column">
                            <span class="show-for-large">large-3</span>
                            <span class="show-for-medium">medium-12</span>
                            <span class="show-for-small">Small-12</span>
                        </div>
                        <div class="large-3 column">
                            <span class="show-for-large">large-3</span>
                            <span class="show-for-medium">medium-12</span>
                            <span class="show-for-small">small-12</span>
                        </div>
                        <div class="large-4 small-4 column">
                            <span class="show-for-large">large-4</span>
                            <span class="show-for-medium">medium-4</span>
                            <span class="show-for-small">small-3</span>
                        </div>
                        <div class="large-4 small-4 column">
                            <span class="show-for-large">large-4</span>
                            <span class="show-for-medium">medium-4</span>
                            <span class="show-for-small">small-3</span>
                        </div>
                        <div class="large-4 small-4 column">
                            <span class="show-for-large">large-4</span>
                            <span class="show-for-medium">medium-4</span>
                            <span class="show-for-small">small-3</span>
                        </div>
                        <div class="large-6 medium-6 small-12 column">
                            <span class="show-for-large">large-6</span>
                            <span class="show-for-medium">medium-6</span>
                            <span class="show-for-small">small-12</span>
                        </div>
                        <div class="large-6 medium-6 small-12 column">
                            <span class="show-for-large">large-6</span>
                            <span class="show-for-medium">medium-6</span>
                            <span class="show-for-small">small-12</span>
                        </div>
                    </div>
                    <h5 class="sectionHeader">Nesting Columns</h5>
                    <p>Lumbr makes it really easy to nest columns too!</p>
                    <div class="row">
                        <div class="medium-6 columns">
                            <span class="">medium-6</span>
                            <div class="medium-6 columns">
                                <span>medium-6</span>
                            </div>
                            <div class="medium-6 columns">
                                <span>medium-6</span>
                            </div>
                        </div>
                        <div class="medium-6 columns">
                            <span class="">medium-6</span>
                            <div class="medium-6 columns">
                                <span>medium-6</span>
                            </div>
                            <div class="medium-6 columns">
                                <span>medium-6</span>
                            </div>
                        </div>
                    </div>
                    <h5 class="sectionHeader">Offsets</h5>
                    <p>If you need some space between your columns you can use the offset class. Below we declare the column width (large-5) and the offset for the large screen (large-offset-1). Since we only declared large a large offset it will only apply to large screen widths. it breaks down to 100% width on medium and small.</p>
                    <div class="row">
                        <div class="column large-offset-1 large-5">
                            <span>large-offset-1 large-5</span>
                        </div>
                        <div class="column large-offset-1 large-5">
                            <span>large-offset-1 large-5</span>
                        </div>
                    </div>
                    <h5 class="sectionHeader">Push and Pull</h5>
                    <p>Sometimes you want columns to appear in a different order when on different screens. Push / pull classes allow you to target column order on screen width.</p>
                    <div class="row">
                        <div class="column large-push-8 medium-4">
                            <span>large-push-8</span>
                        </div>
                        <div class="column large-pull-4 medium-8">
                            <span>large-pull-4</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Grid -->