<div class="accordion">
    <span class="accordion-title" data-toggle>Things 1</span>
    <div class="accordion-content">
        <h1>Things Header 1</h1>
        <p>You can neatly tuck all your things away with accordions. Here is a list of things:</p>
        <ul>
            <li>Bananas</li>
            <li>Nuggets</li>
            <li>Mildew</li>
        </ul>
    </div>
</div>
<div class="accordion">
    <span class="accordion-title" data-toggle>Things 2</span>
    <div class="accordion-content">
        <h1>Things Header 2</h1>
        <p>You can neatly tuck all your things away with accordions. Here is a list of things:</p>
        <ul>
            <li>Nutmeg</li>
            <li>Megan</li>
            <li>Mangoes</li>
        </ul>
    </div>
</div>
