<div class="medium-6 columns">
.medium-6  

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore qui quasi, architecto neque illo sequi, temporibus commodi, numquam fuga ipsa perferendis provident. Ipsa itaque, numquam, vitae in rerum magnam possimus!</p>

    <div class="medium-6 columns">
    .medium-6  

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui ipsam, consectetur nisi culpa voluptatem quasi, facere consequuntur praesentium labore odit, deleniti iusto. Tenetur iusto ab, veritatis at, beatae voluptates </p>
    </div>

    <div class="medium-6 columns">
    .medium-6  

       <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis rerum illo veritatis magnam alias. Debitis sed, possimus sit dolor, nulla eveniet doloremque nemo consequatur alias autem odit nihil, ut iste!</p>
    </div>

</div>

<div class="medium-6 columns">
.medium-6  

<p>    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum adipisci aperiam in, praesentium dolorem error modi, dolore molestias, perspiciatis, facilis corporis consequuntur. Provident quibusdam, suscipit, nostrum voluptas ipsa?</p>

    <div class="medium-6 columns">
    .medium-6  

       <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum praesentium sapiente illum laborum optio et ducimus, reprehenderit a animi. Neque ut fuga nesciunt iste? Fugit voluptatum natus, illum delectus recusandae.</p>
    </div>
    
    <div class="medium-6 columns">
    .medium-6  

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam dolorum, ex itaque beatae. Ipsum in, doloribus iure vitae sint labore nemo aliquid eos error. Illum deleniti harum minus. Eaque, autem.</p>
    </div>

</div>
