                <h5 class="sectionHeader">Targeting Screen Sizes</h5>
                <p>Often times you need medium and small screens to display multiple columns. You can easily target those screens using the .small or .medium column class. By default, these sizes cascade. so if you put small-4 on a div. It will render as 4/12ths width on small, medium and large.</p>
                <div class="row">
                    <div class="medium-4 columns">
                        <span class="">medium-4</span>
                    </div>
                    <div class="medium-4 columns">
                        <span class="">medium-4</span>
                    </div>
                    <div class="medium-4 columns">
                        <span class="">medium-4</span>
                    </div>
                    <div class="small-4 columns">
                        <span class="">Small-4</span>
                    </div>
                    <div class="small-4 columns">
                        <span class="">Small-4</span>
                    </div>
                    <div class="small-4 columns">
                        <span class="">Small-4</span>
                    </div>
                </div>