<div class="medium-6 columns">

    .medium-6
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore qui, architecto neque illo sequi,</p>
    <div class="medium-6 columns">
    
        .medium-6
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui ipsam, consectetur nisi culpa voluptatem</p>
    </div>
    <div class="medium-6 columns">
    
        .medium-6
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui ipsam, consectetur nisi culpa voluptatem</p>
    </div>
</div>
<div class="medium-6 columns">

    .medium-6
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore qui, architecto neque illo sequi,</p>
    <div class="medium-6 columns">
    
        .medium-6
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui ipsam, consectetur nisi culpa voluptatem</p>
    </div>
    <div class="medium-6 columns">
    
        .medium-6
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui ipsam, consectetur nisi culpa voluptatem</p>
    </div>
</div>
