<div class="large-3 medium-6 small-12 column">
    .large-3 .medium-6 .small-12 .column
</div>

<div class="large-3 medium-6 small-12 column">
    .large-3 .medium-6 .small-12 .column
</div>

<div class="large-3 medium-6 small-12 column">
    .large-3 .medium-6 .small-12 .column
</div>

<div class="large-3 medium-6 small-12 column">
    .large-3 .medium-6 .small-12 .column
</div>

<div class="large-6 medium-6 small-12 column">
    .large-6 .medium-6 .small-12 .column
</div>

<div class="large-6 medium-6 small-12 column">
    .large-6 .medium-6 .small-12 .column
</div>

