<h1 class="exampleSection" id="cssComponents">CSS Components</h1>
            <h5 class="sectionHeader">Pagination</h5>
            <div class="pagination">
    <ul>
        <li>
            <a href="#">
                < </a>
        </li>
        <li>
            <a href="#">
                << </a>
        </li>
        <li><a href="#">1</a></li>
        <li class="active"><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">6</a></li>
        <li>
            <a href="#">
                        >
                    </a>
        </li>
        <li>
            <a href="#">
                     >>
                    </a>
        </li>
    </ul>
</div>