        <table class="table-bordered">
            <caption>Table Caption</caption>
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Points</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Jill</td>
                    <td>Smith</td>
                    <td>50</td>
                </tr>
                <tr>
                    <td>Eve</td>
                    <td>Jackson</td>
                    <td>94</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2">Total points</td>
                    <td>223</td>
                </tr>
            </tfoot>
        </table>