<h5 class="sectionHeader">Responsive Table</h5>
<div class="table-container">
    <table class="table-striped no-wrap">
        <caption>Table Caption</caption>
        <thead>
            <tr>
                <th>Head 1</th>
                <th>Head 2</th>
                <th>Head 3</th>
                <th>Head 4</th>
                <th>Head 5</th>
                <th>Head 6</th>
                <th>Head 7</th>
                <th>Head 8</th>
                <th>Head 9</th>
                <th>Head 10</th>
                <th>Head 11</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Lorem Ipsum</td>
                <td>Adipisicing Elit</td>
                <td>Lorem Ipsum</td>
                <td>Adipisicing Elit</td>
                <td>Lorem Ipsum</td>
                <td>Adipisicing Elit</td>
                <td>Lorem Ipsum</td>
                <td>Adipisicing Elit</td>
                <td>Lorem Ipsum</td>
                <td>Adipisicing Elit</td>
                <td>Lorem Ipsum</td>
            </tr>
            <tr>
                <td>Lorem Ipsum</td>
                <td>Adipisicing Elit</td>
                <td>Lorem Ipsum</td>
                <td>Adipisicing Elit</td>
                <td>Lorem Ipsum</td>
                <td>Adipisicing Elit</td>
                <td>Lorem Ipsum</td>
                <td>Adipisicing Elit</td>
                <td>Lorem Ipsum</td>
                <td>Adipisicing Elit</td>
                <td>Lorem Ipsum</td>
            </tr>
            <tr>
                <td>Lorem Ipsum</td>
                <td>Adipisicing Elit</td>
                <td>Lorem Ipsum</td>
                <td>Adipisicing Elit</td>
                <td>Lorem Ipsum</td>
                <td>Adipisicing Elit</td>
                <td>Lorem Ipsum</td>
                <td>Adipisicing Elit</td>
                <td>Lorem Ipsum</td>
                <td>Adipisicing Elit</td>
                <td>Lorem Ipsum</td>
            </tr>
            <tr>
                <td>Lorem Ipsum</td>
                <td>Adipisicing Elit</td>
                <td>Lorem Ipsum</td>
                <td>Adipisicing Elit</td>
                <td>Lorem Ipsum</td>
                <td>Adipisicing Elit</td>
                <td>Lorem Ipsum</td>
                <td>Adipisicing Elit</td>
                <td>Lorem Ipsum</td>
                <td>Adipisicing Elit</td>
                <td>Lorem Ipsum</td>
            </tr>
        </tbody>
    </table>
</div>
