<p class="show-for-small">.show-for-small You should only see this if you are on a phone sized screen.</p>

<p class="show-for-medium">.show-form-medium You should only see this if you are on a tablet sized screen.</p>

<p class="show-for-large">.show-for-large You should only see this if you are on a desktop sized screen.</p>

<p class="hide-for-small">.hide-for-small You should only see this if you are on a tablet or desktop sized screen.</p>

<p class="hide-for-medium">.hide-for-medium You should only see this if you are on a phone or desktop sized screen.</p>

<p class="hide-for-large">.hide-for-large You should only see this if you are on a phone or tablet sized screen.</p>
