---
layout: post-layout
title:  "Visibility"
date:   2016-01-01
categories: core
excerpt_separator: <!--more-->
permalink: /:categories/:title.html
---


<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut sapiente, fugiat odio quod consequuntur cupiditate at temporibus aperiam ratione recusandae harum delectus dolorem. Vel unde consequuntur, voluptate aspernatur aliquid perspiciatis.</p>

<!--more-->

{% include core/visibility.html %}

{% highlight html %}

{% include core/visibility.html %}

{% endhighlight %}




