---
layout: post-layout
title:  "Grid"
date:   2016-01-10
categories: core
excerpt_separator: <!--more-->
permalink: /:categories/:title.html
---


 <p>The grid is really easy to use. for instance if you put .large-4.columns on a div it will span 4/12ths of it's parent container on "Large" screens. When resized below "large" it will break down to 100% width. This can be any combination of numbers as long as it ads up to the number of your total columns.</p>

<!--more-->

<h3>Basic Grid</h3>

<div class="grid">

{% include core/grid-basic.html %}

</div>

{% highlight html %}

{% include core/grid-basic.html %}

{% endhighlight %}



<h3>Combining Different Column Widths</h3>

<p>You guessed it, you can combine "large", "medium" and "small" column widths to target each viewport specifically.</p>

<div class="grid">
{% include core/grid-combining.html %}
</div>

{% highlight html %}

{% include core/grid-combining.html %}

{% endhighlight %}

<h3>Nesting Columns</h3>

<p>Lumbr makes it really easy to nest columns too!</p>

<div class="grid">
{% include core/grid-nesting.html %}
</div>

{% highlight html %}

{% include core/grid-nesting.html %}

{% endhighlight %}


<h3>Offsets</h3>
<p>If you need some space between your columns you can use the offset class. Below we declare the column width (large-5) and the offset for the large screen (large-offset-1). Since we only declared large a large offset it will only apply to large screen widths. it breaks down to 100% width on medium and small.</p>

<div class="grid">
{% include core/grid-offsets.html %}
</div>

{% highlight html %}

{% include core/grid-offsets.html %}

{% endhighlight %}


<h3>Push Pull</h3>
<p>Sometimes you want columns to appear in a different order when on different screens. Push / pull classes allow you to target column order on screen width.</p>

<div class="grid">
{% include core/grid-push-pull.html %}
</div>

{% highlight html %}

{% include core/grid-push-pull.html %}

{% endhighlight %}




