---
layout: post
title:  "This is the 2nd post"
date:   2016-01-09
categories: footers
excerpt_separator: <!--more-->
permalink: /:categories/:title.html
---
<div class="medium-6 columns">
<img src="/assets/footer1.png" alt="">
</div>
<div class="medium-6 columns">
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, ipsum esse necessitatibus reprehenderit quia inventore ratione vel, provident deserunt, quaerat officia impedit! Saepe, provident sequi corporis doloremque illo aspernatur ipsum.</p>
</div>

<!--more-->

{% include footers/frank.html %}

{% highlight html %}

{% include footers/frank.html %}

{% endhighlight %}