---
layout: post-layout
title:  "Tables"
date:   2016-01-06
categories: core
excerpt_separator: <!--more-->
permalink: /:categories/:title.html
---


<!--more-->

<h3>Default Table</h3>

{% include core/table-default.html %}

{% highlight html %}

{% include core/table-default.html %}

{% endhighlight %}

<h3>Bordered Table</h3>

{% include core/table-bordered.html %}

{% highlight html %}

{% include core/table-bordered.html %}

{% endhighlight %}

<h3>Responsive Table</h3>

{% include core/table-responsive.html %}

{% highlight html %}

{% include core/table-responsive.html %}

{% endhighlight %}



