---
layout: post-layout
title:  Footer Frank
date:   2016-01-08 09:11:03
categories: footers
tags:
- rocks
- wheel
- 30 inch wooden rims
excerpt_separator: <!--more-->
permalink: /:categories/:title.html
---
<div class="medium-4 columns">
This is the description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat doloremque minus pariatur dignissimos, voluptas harum illum quae quidem fugit beatae alias delectus possimus voluptatibus commodi praesentium, nulla officiis numquam magni.
</div>

<div class="medium-4 columns">
{{page.tags | first}}

</div>
<!--more-->

{% include footers/frank.html %}

{% highlight html %}

{% include footers/frank.html %}

{% endhighlight %}