---
layout: post-layout
title:  "Typography"
date:   2016-01-08
categories: core
excerpt_separator: <!--more-->
permalink: /:categories/:title.html
---

<!--more-->

<h3>Text</h3>

{% include core/typography-text.html %}

{% highlight html %}

{% include core/typography-text.html %}

{% endhighlight %}

<h3>Lists</h3>

{% include core/typography-lists.html %}

{% highlight html %}

{% include core/typography-lists.html %}

{% endhighlight %}

<h3>Modifiers</h3>

{% include core/typography-modifiers.html %}

{% highlight html %}

{% include core/typography-modifiers.html %}

{% endhighlight %}