---
layout: post-layout
title:  "Forms"
date:   2016-01-07
categories: core
excerpt_separator: <!--more-->
permalink: /:categories/:title.html
---


<!--more-->

<h3>Forms Input</h3>

{% include core/forms-input.html %}

{% highlight html %}

{% include core/forms-input.html %}

{% endhighlight %}

<div class="clearfix"></div>

<h3>Forms Checkboxes</h3>
{% include core/forms-checkbox.html %}

{% highlight html %}

{% include core/forms-checkbox.html %}

{% endhighlight %}

<div class="clearfix"></div>

<h3>Forms Radio</h3>

{% include core/forms-radio.html %}

{% highlight html %}

{% include core/forms-radio.html %}

{% endhighlight %}

