<div class="calvin">
	<h3>Hi There</h3>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi consectetur magni voluptates reiciendis temporibus, sint aliquam, rerum inventore suscipit sapiente assumenda nihil harum iure. Voluptate corrupti dolores labore necessitatibus vitae!</p>
	<a href="#" class="btn">Click Here!</a>
</div>

<div class="calvin">
	<h3>Hi There</h3>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi consectetur magni voluptates reiciendis temporibus, sint aliquam, rerum inventore suscipit sapiente assumenda nihil harum iure. Voluptate corrupti dolores labore necessitatibus vitae!s</p>
	<a href="#" class="btn">Click Here!</a>
</div>