// Write your custom, site specific styles here
body {
    background: $body-bg;
    font-family: $global-font-family;
    color: $global-font-color;
    font-size: $base-font-size;
    line-height: $global-line-height;
}

.primary-bg-color{
    background-color:$primary-color;
}

.secondary-bg-color{
    background-color:$secondary-color;
}

.accent-bg-color{
    background-color:$accent-color;
}

