.toggleMenu {
    display: inline-block;
    background: $nav-background-color;
    padding: 10px 15px;
    color: $nav-link-color;
}

.nav:before,
.nav:after {
    content: " ";
    display: table;
}

.nav:after {
    clear: both;
}

ul.nav,
ul.nav ul,
ul.nav ul ul {
    margin: 0;
    list-style: none;
}

.nav ul li a {
    padding-left: 2em;
}

.nav ul li ul a {
    padding-left: 3em;
}

.nav {
    list-style: none;
    *zoom: 1;
    background: $nav-background-color;
}

.nav a {
    padding: $nav-padding;
    color: $nav-link-color;
    font-family: $nav-font-family;
    font-size: $nav-font-size;
    font-weight: $nav-font-weight;
    text-decoration: none;
}

.nav > li > a {
    display: block;
}

.nav li ul {
    position: absolute;
    left: -9999px;
}

.nav li li.hover ul {
    left: 100%;
    top: 0;
}

.nav li li a {
    display: block;
    background: lighten($nav-background-color, 5%);
    position: relative;
    z-index: 100;
    // border-top: 1px solid lighten($nav-background-color, 10%);
}

.nav li li li a {
    background: lighten($nav-background-color, 10%);
    z-index: 200;
    border-top: 1px solid lighten($nav-background-color, 15%);
}

.active {
    display: block;
}

.nav > li {
    float: none;
}

.nav > li > .parent {
    background-position: 95% 50%;
}

.nav > li > .parent {
    background-image: none;
}

.nav li .more {
    background-image: url("http://webdesigntutsplus.s3.amazonaws.com/tuts/378_tessa/tessa-lt-dropdowns-21c7868/images/downArrow.png");
    background-repeat: no-repeat;
    background-position: 95% 50%;
    float: right;
    width: 20%;
    border-left: 1px solid rgba(255, 255, 255, .3);
    padding: 8px 15px;
    margin: 2px 5px 2px 0px;
    cursor: pointer;
    z-index: 200;
    position: relative;
}

.nav li .more:before {
    content: "";
    background: rgba(0, 0, 0, .3);
    width: 1px;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -2px;
}

.nav ul {
    display: block;
    width: 100%;
}

.nav > li.hover > ul,
.nav li li.hover ul {
    position: static;
}

@media only screen and (min-width: $medium-up) {
    .toggleMenu {
        display: none;
    }
    .nav > li {
        float: left;
        border-top: 1px solid #104336;
    }
    .nav > li > .parent {
        background-image: url("http://webdesigntutsplus.s3.amazonaws.com/tuts/378_tessa/tessa-lt-dropdowns-21c7868/images/downArrow.png");
        background-repeat: no-repeat;
        background-position: right;
    }
    .nav li {
        position: relative;
    }
    .nav > li.hover > ul,
    .nav li li.hover ul {
        position: absolute;
    }
    .nav > li.hover > ul {
        left: 0;
    }
    .nav ul {
        list-style: none;
        width: 9em;
        margin: 0;
    }
    .nav ul li a {
        padding: $nav-padding;
    }
    .nav ul li ul a {
        padding: $nav-padding;
    }

    li.hover ul{
    }
}
